<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         testdox="true"
    >
    <testsuites>
        <testsuite name="Main Test Suite">
            <directory>test</directory>
            <exclude>test/Locales</exclude>
        </testsuite>
        <testsuite name="Locales Test Suite">
            <directory>test/Locales</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>
