<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         testdox="true"
    >
    <testsuites>
        <testsuite name="Phony Internals Test Suite">
            <directory>test/Phony</directory>
        </testsuite>
        <testsuite name="Default Locale Test Suite">
            <directory>test/Group</directory>
        </testsuite>
        <testsuite name="Other Locale Test Suite">
            <directory>test/Locale</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>
